<h1 class="title">Remove files</h1>
<p class="subtitle">When google bitches about links, paste them in here and they will be removed from the site and from Cloudfares cache</p>

<form action="/user/admin/remove-files" method="POST">
    <div class="field">
        <div class="control">
            <textarea class="textarea" name="theLinks" placeholder="https%3A%2F%2Flewd.se%2F%D0%AD%D1%82%D0%BE%20%D0%BD%D0%B0%20%D1%80%D1%83%D1%81%D1%81%D0%BA%D0%BE%D0%BC%20%D1%8F%D0%B7%D1%8B%D0%BA%D0%B5.rar&#10;https%3A%2F%2Flewd.se%2F%D0%95%D1%89%D0%B5%20%D0%B1%D0%BE%D0%BB%D1%8C%D1%88%D0%B5%20%D1%80%D1%83%D1%81%D1%81%D0%BA%D0%B8%D1%85.rar"></textarea>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input type="submit" class="button" value="Remove files">
        </div>
    </div>
</form>

