{{#if user}}
    <div class="column is-one-quarter">
        <form action="/login/reset-password" method="POST">
            <section class="content">
                <div class="field">
                    {{#if errors.new-password}}
                        <div class="notification is-danger">
                            {{ errors.new-password }}
                        </div>
                    {{/if}}
                    <label for="new-password" class="label">New password</label>
                    <div class="control">
                        <input class="input" type="password" id="new-password" maxlength="73" name="new-password">
                    </div>
                </div>
                
                <div class="field">
                    <label for="password-check" class="label">New password once again</label>
                    <div class="control">
                        <input class="input" type="password" id="password-check" maxlength="73" name="password-check">
                    </div>
                </div>
            </section>

            <section class="content">
                <input type="hidden" name="token" value="{{ user.key }}">
                <input type="submit" class="button" value="Change password">
            </section>
        </form>
    </div>

{{else}}
    <h2>This token is invalid or has expired</h2>
{{/if}}