$progressbar-color: linear-gradient(180deg,#666,#444); // TODO: Red probably isn't the best progress bar colour

.theUploader,
.theUploader * {
    box-sizing: border-box;
}

.theUploader {
    min-height: 150px;
    border: 4px dashed white;
    padding: 54px 54px;
}

.theUploader.dz-clickable {
    cursor: pointer;
}

.theUploader.dz-clickable * {
    cursor: default;
}

.theUploader.dz-clickable .dz-message,
.theUploader.dz-clickable .dz-message * {
    cursor: pointer;
}

.theUploader.dz-started .dz-message {
    display: none;
}

.theUploader.dz-drag-hover {
    border-style: solid;
}

.theUploader.dz-drag-hover .dz-message {
    opacity: 0.5;
}

.theUploader .dz-message {
    text-align: center;
    margin: 2em 0;
}

.message {
    cursor: default;

    .message-body {
        a {
            cursor: pointer;
        }
    }
}