[Unit]
Description=lewd.se cron actions
Documentation=https://github.com/inabahare/lewd2

[Service]
Type=oneshot
User=www-data
ExecStart=/usr/bin/node /var/www/lewd2/packages/antivirus-services/dist/index.js

[Install]
WantedBy=multi-user.target
