[Unit]
Description=lewd.se main application
Documentation=https://github.com/inabahare/lewd2
Wants=network-online.target postgresql.service lewd2-cron.service lewd2-discord.service
After=network-online.target postgresql.service

[Service]
Type=exec
User=www-data
ExecStart=/usr/bin/node /var/www/lewd2/packages/main-site/dist/index.js
Restart=always

[Install]
WantedBy=multi-user.target
