{{#if user}}
    <form method="post" action="/upload" class="dropzone">
        <div class="dz-message" data-dz-message><span>Your Custom Message</span></div>
    </form>
{{else}}
    <h1>You need to be logged in to see this page</h1>
{{/if}}

<script src="/JS/dropzone.js"></script>