{{#if user}}
    <form method="post" action="/upload" class="dropzone">
        
    </form>
{{else}}
    <h1>You need to be logged in to see this page</h1>
{{/if}}

<script src="/JS/dropzone.js"></script>