<!-- How to upload -->
<p>
    Curl:
    curl {{#if user.username}}--header "token: {{{user.token}}}"{{/if}} -F "file=@2018-07-20 23-22-14.png" http://localhost/upload
</p>

<!-- Transparency Link -->

<!-- Who's behind it all -->