<div class="section">
    <h1 class="title is-2">Who's behind this</h1>
    <p></p>
</div>

<div class="section">
    <h1 class="title is-2">Tool assisted uploads</h1>
    <p>If you're logged in you will find these for your account in your user panel</p>
    <p><span class="has-text-weight-bold">ShareX:</span> <a href="/lewd.sxcu">Get shareX config</a></p>
    <p><span class="has-text-weight-bold">Curl:</span> curl -X POST -F "file=@FILE_HERE" http://localhost/upload</p>
</div>