<div class="columns">
    <div class="column is-offset-4 is-one-quarter">
        <form action="/login" method="post">
            {{#if message.error}}
                <article class="message is-danger">
                    <div class="message-header">
                        <p>Failed to login!</p>
                    </div>
                    <div class="message-body">
                        {{{ message.error }}}
                    </div>
                </article>
            {{/if}}

            <div class="columns">
                <div class="column">
                    <label for="username" class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" id="username" name="username" maxlength="100" minlength="3">
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <label for="password" class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" id="password" minlength="3" maxlength="72" name="password">
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="control">
                        <button class="button is-link">Log in</button>
                    </div>
                </div>
            </div>
        </form>        
    </div>
</div>
