<form action="/login" method="post">
    <div class="field">
        <label for="username" class="label">Username</label>
        <div class="control">
            <input class="input" type="text" id="username" name="username">
        </div>
    </div>

    <div class="field">
        <label for="password" class="label">Username</label>
        <div class="control">
            <input class="input" type="password" id="password" name="password">
        </div>
    </div>

    <div class="field columns">
        <div class="column">
            <div class="control">
                <button class="button is-link">Log in</button>
            </div>
        </div>

        <div class="column">
            <div class="control">
                <a href="/register" class="button is-link">Register</a>
            </div>
        </div>
    </div>
</form>