<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lewd.se!</title>
    <link rel="stylesheet" href="/CSS/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
    <header>
        <nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-start navbar-menu">
                    <div class="navbar-item">
                        <a href="#" class="title is-3">lewd.se</a>
                    </div>
                </div>
                <div class="navbar-end">        
                    <div class="navbar-item"><a href="#">Transparency</a></div>
                    {{#if user}}
                        <div class="navbar-item"><a href="/user">{{user.username}}</a></div>
                    {{else}}
                        <div class="navbar-item"><a href="/login">Sign In</a></div>
                    {{/if}}
                    <div class="navbar-item"><a href="https://discordapp.com/invite/AKGeqgN">Discord</a></div>
                </div>
            </div>
        </nav>
    </header>
    <main class="section">
        <div class="container">
            {{{ body }}}
        </div>
    </main>
  </body>
</html> 