<form action="/register" method="POST">
    <div class="field">
        {{#if errors.token}}
            <div class="notification is-error">
                {{{ errors.token }}}
            </div>    
        {{/if}}
        <label for="username" class="label">Token provided by Katt</label>
        <div class="control">
            <input type="text" class="input" name="token" placeholder="Token">
        </div>
    </div>

    <div class="field">
        {{#if errors.username}}
            <div class="notification is-error">
                {{{ errors.username }}}
            </div>    
        {{/if}}
        <label for="username" class="label">Username</label>
        <div class="control">
            <input type="text" class="input" name="username" placeholder="Username">
        </div>
    </div>

    <div class="field">
        {{#if errors.password}}
            <div class="notification is-error">
                {{{ errors.password }}}
            </div>
        {{/if}}
        <label for="password" class="label">Password</label>
        <div class="control">
            <input type="password" class="input" name="password" placeholder="password">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input type="submit" class="button is-link" value="Add user">
        </div>
    </div>
</form>