<div class="columns">
    <div class="column is-one-fifth">
        <aside class="menu">
            <p class="menu-label">User</p>
            <ul class="menu-list">
                <li><a href="/user/">View uploads</a></li>
            </ul>

            {{#is user.roleid 3}}
                <p class="menu-label">Admin</p>
                <ul class="menu-list">
                    <li><a href="/user/add-users">Add user</a></li>
                    <li><a href="/user/view-users">View users</a></li>
                </ul>
            {{/is}}
        </aside>
    </div>
    <div class="column auto">
        {{> (partial menuItem) }}
    </div>
</div>