<div class="content">
    <h2 class="title is-2" >Hello {{{ user.username }}}</h2>
</div>

<div class="content">
    <h2 class="title is-4">Tool assisted uploads</h2>

    <p><span class="has-text-weight-bold">ShareX:</span> <a href="/lewd.sxcu">Get shareX config</a><br/>
    <span class="has-text-weight-bold">curl:</span> <i>curl -X POST -F "file=@FILE_NAME" -H "token: {{{ user.token }}}" http://localhost/upload</i></p>
</div>

<div class="content">
    <h2 class="title is-4">Change password</h2>

    {{#if message.passwordChanged}}
            <article class="message is-success">
                <div class="message-header">
                    <p>Password Changed</p>
                </div>
                <div class="message-body">
                    {{{ message.passwordChanged }}}
                </div>
            </article>  
    {{/if}}

    <form action="/user/change-password" method="POST">
        <section class="content">
            {{#if message.incorrectOldPassword}}
                <article class="message is-danger">
                    <div class="message-header">
                        <p>You typed the wrong password</p>
                    </div>
                    <div class="message-body">
                        {{{ message.incorrectOldPassword }}}
                    </div>
                </article>  
            {{/if}}
            <div class="field">
                <label for="password" class="label">Current password</label>
                <div class="control">
                    <input class="input" type="password" id="old-password" maxlength="72" name="old-password">
                </div>
            </div>
        </section>

        <section class="content">
            <div class="field">
                <label for="password" class="label">New password</label>
                <div class="control">
                    <input class="input" type="password" id="new-password" maxlength="72" name="new-password">
                </div>
            </div>
            
            <div class="field">
                <label for="password" class="label">New password once again</label>
                <div class="control">
                    <input class="input" type="password" id="password-check" maxlength="72" name="password-check">
                </div>
            </div>
        </section>

        <seciton class="content">
            <input type="submit" class="button" value="Change password">
        </seciton>
    </form>
</div>