<div class="content">
    <h2 class="title is-2" >Hello {{{ user.username }}}</h2>
</div>

<div class="content">
    <p class="title is-4">Tool assisted uploads</p>

    <p><span class="has-text-weight-bold">ShareX:</span> <a href="/lewd.sxcu">Get shareX config</a><br/>
    <span class="has-text-weight-bold">curl:</span> <i>curl -X POST -F "file=@FILE_NAME" -H "token: {{{ user.token }}}" http://localhost/upload</i></p>
</div>