{{#if errors.username}}
    <article class="message is-danger">
        <div class="message-header">
            <p>Username</p>
        </div>
        <div class="message-body">
            {{{ errors.username }}}
        </div>
    </article>  
{{/if}}

<div class="column is-one-quarter">
    <form action="/user/admin/generate-reset-link" method="POST">
        <div class="field">
            <div class="control">
                <h2 class="title is-4">Reset users password</h2>
                <input type="text" id="username" class="input" name="username" placeholder="{{ user.username }}">
            </div>
        </div>
        <input type="submit" class="button" value="Generate user link">
    </form>
</div>

{{#if message.link }}
    <article class="message is-primary">
        <div class="message-header">
            <p>Generated link</p>
        </div>
        <div class="message-body">
            <p>{{ message.link }}</p>
        </div>
    </article>
{{/if}}